In [1]:
#Importamos la libreria Pandas
import pandas as pd

Creamos los dataframe de todos los CSV

In [2]:
amazon = pd.read_csv(r'../Datasets/amazon_prime_titles.csv', encoding = 'utf-8')
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [3]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [4]:
amazon.isnull().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [5]:
amazon.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
9464,s9465,Movie,Cheyenne Wildcat,Lesley Selander,"Bill Elliott, Robert Blake",NaN,NaN,1944,13+,53 min,"Action, Western",Red Ryder and Little Beaver solve a case invol...
3446,s3447,Movie,8 Minute Meditation to Forget and Forgive,Mark Knight,Anne-Marie Newland,NaN,NaN,2020,ALL,8 min,Special Interest,Forgive and forget. An easy guided therapy ses...
6776,s6777,Movie,Holy Boom,Maria Lafi,"Samuel Akinola, Spiros Ballesteros, Luli Bitri...",NaN,NaN,2020,18+,95 min,Drama,A random explosion connects three stories of s...
8603,s8604,Movie,I Like It Like That,Darnell Martin,"Laura Velez, Jon Seda, Rita Moreno, Griffin Du...",NaN,NaN,1994,R,107 min,"Comedy, Drama","Set in the Bronx, I LIKE IT LIKE THAT is about..."
4660,s4661,Movie,Skin,Anthony Fabian,"Sophie Okonedo, Sam Neill, Alice Krige, Tony K...",NaN,NaN,2009,PG-13,107 min,Drama,"Based on a true story, SKIN follows Sandra Lai..."

In [6]:
disney=pd.read_csv(r'../Datasets/disney_plus_titles.csv', encoding = 'utf-8')
disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [7]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [8]:
disney.isnull().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [9]:
disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1322,s1323,Movie,The Princess Diaries,Garry Marshall,"Anne Hathaway, Heather Matarazzo, Hector Elizo...","United States, United Kingdom","November 12, 2019",2001,G,116 min,"Comedy, Coming of Age, Family",A teenager discovers that she is the princess ...
1104,s1105,Movie,Newsies: The Broadway Musical,"Jeff Calhoun, Brett Sullivan","Jeremy Jordan, Kara Lindsay, Ben Fankhauser, A...",United States,"November 12, 2019",2017,PG,134 min,"Coming of Age, Drama, Family",Gutsy newsboys take on newspaper titans in 189...
484,s485,Movie,The Big Green,Holly Sloan,"Steve Guttenberg, Olivia d'Abo, Jay Sanders, J...",United States,"July 3, 2020",1995,PG,100 min,"Comedy, Family, Sports",A group of bored misfits become local soccer h...
690,s691,Movie,Glory Road,James Gartner,"Josh Lucas, Derek Luke, Jon Voight, Austin Nic...",United States,"December 1, 2019",2006,PG,119 min,"Biographical, Drama, Sports",The story of the first all African-American co...
364,s365,Movie,Home Alone,Chris Columbus,"Macaulay Culkin, Joe Pesci, Daniel Stern, John...",United States,"November 13, 2020",1990,PG,103 min,"Comedy, Family",When Kevin is home while his family goes on a ...

In [10]:
hulu=pd.read_csv(r'../Datasets/hulu_titles.csv', encoding = 'utf-8')
hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [11]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [12]:
hulu.isnull().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [13]:
netflix=pd.read_csv(r'../Datasets/amazon_prime_titles.csv', encoding = 'utf-8')
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [14]:
#Se realiza una  copia a los dataframe
amazon_df=amazon.copy()
disney_df=disney.copy()
hulu_df=hulu.copy()
netflix_df=netflix.copy()

In [15]:
#Se agrega una columna a cada dataframe para asignarle la ´plataforma que le corresponde

amazon_df['Plataforma']='amazon'
disney_df['Plataforma']='disney'
hulu_df['Plataforma']='hulu'
netflix_df['Plataforma']='netflix'

In [16]:
#Reemplazar campo vacios en la columna duration
hulu_df['duration'].fillna('sin datos',inplace=True)
netflix_df['duration'].fillna('sin datos',inplace=True)

In [17]:
#Función que divide la columna duration
def sepdurationcolum(df):
    df['temporadas']=df['duration'].apply( lambda i: i.split()[0] if i.split()[1]=='Seasons' else '0')
    df['duracion_peliculas']=df['duration'].apply( lambda i: i.split()[0] if i.split(" ",1)[1]=='min' or i.split(" ",1)[1]=='min' else '0')
    return df

In [18]:
#Se implementa la función anterior en cada dataset
amazon_df=sepdurationcolum(amazon_df)
disney_df=sepdurationcolum(disney_df)
hulu_df=sepdurationcolum(hulu_df)
netflix_df=sepdurationcolum(netflix_df)

In [19]:
#Elimina la columna duration en cada dataset
amazon_df.drop(columns='duration', inplace=True)
disney_df.drop(columns='duration', inplace=True)
hulu_df.drop(columns='duration', inplace=True)
netflix_df.drop(columns='duration', inplace=True)

In [20]:
#concatenar todos los dataframe
final_df=pd.concat([amazon_df, disney_df, hulu_df, netflix_df], axis=0)

In [55]:
#Verificar tipo de dato de cada columna
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23859 entries, 0 to 9667
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   show_id             23859 non-null  object
 1   type                23859 non-null  object
 2   title               23859 non-null  object
 3   director            16152 non-null  object
 4   cast                18130 non-null  object
 5   country             4195 non-null   object
 6   date_added          4802 non-null   object
 7   release_year        23859 non-null  int64
 8   rating              22662 non-null  object
 9   listed_in           23859 non-null  object
 10  description         23855 non-null  object
 11  Plataforma          23859 non-null  object
 12  temporadas          23859 non-null  object
 13  duracion_peliculas  23859 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.7+ MB

In [22]:
#Transformacion del tipo de datos
final_df.duracion_peliculas =final_df.duracion_peliculas.astype(int)

PRIMERA CONSULTA

In [25]:
#Filtrar año y plataforma
dfp=final_df[(final_df['release_year']==2018)&(final_df['Plataforma']=='hulu')]
a=dfp.duracion_peliculas.max()
titulo=dfp[dfp.duracion_peliculas==a]['title']

In [26]:
titulo=titulo.to_list()

In [27]:
titulo=titulo[0]

In [28]:
titulo

'The House That Jack Built'

In [29]:
#Llenar datos faltantes
final_df.fillna('sin dfato', inplace=True)

SEGUNDA CONSULTA

In [30]:
((final_df['Plataforma']=='netflix') & (final_df['type'].str.contains('Movie'))).sum()

7814

In [31]:
((final_df['Plataforma']=='netflix') & (final_df['type'].str.contains('TV Show'))).sum()

1854

TERCERA CONSULTA

In [32]:
#Filtrar genero por plataforma amazon

((final_df['listed_in'].str.contains('Comedy')) & (final_df['Plataforma']=='amazon')).sum()

2099

CUARTA CONSULTA

In [32]:
final_df.sample(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,Plataforma,temporadas,duracion_peliculas
5895,s5896,Movie,Little Baby Bus - Superhero Red Bus & More Kid...,Moonbug Entertainment,NaN,NaN,NaN,2020,ALL,Kids,Little Baby Bus is an animated online educatio...,netflix,0,30
862,s863,Movie,Sunnyside,Timothy Galfas,"John Lansing, Joey Travolta",NaN,NaN,1979,R,"Action, Drama",An emotionally charged saga of explosive viole...,netflix,0,101
1432,s1433,Movie,Justin Morgan had a Horse,Hollingsworth Morse,"Don Murray, Lana Wood, R.G. Armstrong, Gary Cr...",United States,"October 1, 2019",1972,TV-G,"Animals & Nature, Biographical, Drama",The story of the foundation sire of the Morgan...,disney,0,88
577,s578,Movie,The Last Days Of Patton,Delbert Mann,"George C. Scott, Eva Marie Saint, Peter Banks,...",NaN,NaN,1986,NaN,"Drama, Military and War","Following the close of World War II, General G...",amazon,0,148
1308,s1309,TV Show,"Pinkfong! Hogi, the Detective",NaN,NaN,NaN,NaN,2021,ALL,"Animation, Kids",Hogi is the best detective in Wonderville! Wit...,amazon,1,0
1954,s1955,Movie,ID: INVADED,NaN,NaN,Japan,"December 15, 2019",2019,1 Season,"Anime, Crime, Drama","Meet Sakaido, a brilliant detective who solves...",hulu,0,0
2628,s2629,Movie,Don't Call Me Bigfoot,Jeremy Norrie,"Matthew Mordovanec, Alex Mistretta, Danielle W...",NaN,NaN,2020,16+,Documentary,"There are tales all around the world of big, h...",netflix,0,72
8070,s8071,Movie,Traffic,NaN,"Michael Douglas, Benicio Del Toro, Catherine...",NaN,NaN,2001,R,"Drama, Suspense","Michael Douglas, Don Cheadle, Benicio Del Toro...",netflix,0,148
1850,s1851,Movie,"Lisa Loeb, Nursery Rhyme Parade!",Luke Joerger,Lisa Loeb,NaN,NaN,2016,G,Kids,GRAMMY award nominated artist Lisa Loeb brings...,netflix,0,33
4805,s4806,Movie,Lady Jane,Trevor Nunn,"Helena Bonham Carter, Cary Elwes, Patrick Stew...",NaN,NaN,1986,PG-13,Drama,The death of King Henry VIII throws his kingdo...,amazon,0,142
8433,s8434,Movie,Outlaw Justice,Bill Corcoran,"Kris Kristofferson, Willie Nelson, Travis Trit...",NaN,NaN,1999,R,"Action, Western",Starring Kris Kristofferson and Willie Nelson....,netflix,0,91
1055,s1056,TV Show,Marvel's Ant-Man (Shorts),NaN,NaN,United States,"November 12, 2019",2016,TV-Y7,"Action-Adventure, Animation, Comedy",Ant-Man protects the world one inch at a time!,disney,1,0
1394,s1395,Movie,Paddle to the Ocean,Zac Crouse,NaN,NaN,NaN,2013,ALL,"Special Interest, Sports",Musician Zac Crouse begins his 82-day sea kaya...,netflix,0,61
1680,s1681,Movie,Michael Loftus: You've Changed,Manny Rodriguez,Michael Loftus,NaN,NaN,2009,18+,"Arts, Entertainment, and Culture, Comedy, Spec...","In his one-hour comedy special debut, Michael ...",amazon,0,78
2208,s2209,TV Show,Fairy gone,NaN,NaN,Japan,"May 7, 2019",2019,TV-14,"Action, Adventure, Anime","Able to summon fairies as alter-ego weapons, f...",hulu,1,0
1181,s1182,Movie,Sea of Hope: America's Underwater Treasures,Robert Nixon,Max Kennedy,United States,"November 12, 2019",2017,TV-PG,"Action-Adventure, Animals & Nature, Documentary",Oceanographer Sylvia Earle sets out to inspire...,disney,0,47
1103,s1104,Movie,Newsies,Kenny Ortega,"Christian Bale, David Moscow, Bill Pullman, Ga...",United States,"November 12, 2019",1992,PG,"Coming of Age, Drama, Family",New York City paperboys battle a greedy newspa...,disney,0,122
1197,s1198,TV Show,Real Love Stories from Around the World: Unite...,NaN,NaN,NaN,NaN,2018,ALL,"Documentary, Special Interest",Watch real wedding videos to find wedding venu...,netflix,1,0
2501,s2502,Movie,Faster,Mark Neale,"Ewan McGregor, Valentino Rossi, Max Biaggi, Ga...",NaN,NaN,2020,13+,"Action, Sports","Filmed around the world in 2001 and 2002, Fast...",netflix,0,103
2711,s2712,Movie,David Cross: Oh Come On,Lance Bangs,David Cross,NaN,NaN,2019,18+,"Arts, Entertainment, and Culture, Comedy, Spec...","Share the laughter, the tears, the gasps, and ...",amazon,0,70